@font-face {
  font-family: 'TextButtonFont';
  // src: url('../assets/fonts/ttf/Herculanum.ttf') format('truetype');
  src: url('../assets/fonts/ttf/Catamaran-Light.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'TitleFont';
  // src: url('../assets/fonts/ttf/Zapfino.ttf') format('truetype');
  src: url('../assets/fonts/ttf/Catamaran-Bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'DefaultTextFont';
  // src: url('../assets/fonts/ttf/Comic Sans MS Bold.ttf') format('truetype');
  src: url('../assets/fonts/ttf/Catamaran-ExtraLight.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Catamaran';
  src: url('../assets/fonts/ttf/Catamaran-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Catamaran';
  src: url('../assets/fonts/ttf/Catamaran-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Catamaran';
  src: url('../assets/fonts/ttf/Catamaran-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Catamaran';
  src: url('../assets/fonts/ttf/Catamaran-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Catamaran';
  src: url('../assets/fonts/ttf/Catamaran-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Catamaran';
  src: url('../assets/fonts/ttf/Catamaran-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Catamaran';
  src: url('../assets/fonts/ttf/Catamaran-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Catamaran';
  src: url('../assets/fonts/ttf/Catamaran-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Catamaran';
  src: url('../assets/fonts/ttf/Catamaran-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
