@import '~normalize.css';

.Container {
  .Direction {
    position: absolute;
    color: red;
  }

  .RightTop {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}




